.progress {
  background-color: var(--primary-blue);
  height: 3px;
  transition: width 150ms;
}

.progress[aria-valuenow='100'] {
  background-color: var(--primary-green);
}

@media (prefers-reduced-motion: reduce) {
  .progress {
    transition: none;
  }
}
