._3ldDq7ppV-829kXcMl2ZNT {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

._1kjlfQ2YdDrFG2XmcCdLsE {
  animation: _3-Iab1pvj_jQ7a9ne2gZYw 300ms ease-out forwards;
  background-color: white;
  border: #ddd solid 1px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  left: 25vw;
  padding: 1em 2em;
  position: fixed;
  top: 10vh;
  width: 50vw;
  z-index: 1;
}

._1kjlfQ2YdDrFG2XmcCdLsE h2 {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  ._1kjlfQ2YdDrFG2XmcCdLsE {
    left: 10vw;
    width: 80vw;
  }
}

@keyframes _3-Iab1pvj_jQ7a9ne2gZYw {
  0% {
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@media (prefers-reduced-motion: reduce) {
  ._1kjlfQ2YdDrFG2XmcCdLsE {
    animation: none;
  }
}

.en7896lYv7NhRTyo8ciVt {
  appearance: none;
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0;
}

.rhU82J9Mu7TetNESV6CEl {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  border: 0;
  border-bottom: 2px solid #e0e0e0;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-sizing: border-box;
  display: block;
  font-size: 1em;
  font-weight: 200;
  margin-top: 0.2em;
  min-height: 42px;
  outline: none;
  padding: 6px 12px;
  text-align: left;
  width: 100%;
}

.rhU82J9Mu7TetNESV6CEl:focus {
  border-bottom-color: var(--primary);
}

.rhU82J9Mu7TetNESV6CEl:focus,
.rhU82J9Mu7TetNESV6CEl:hover {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

._189r2eIvfXOMcBbHysIC_n {
  display: flex;
  justify-content: space-between;
}

._189r2eIvfXOMcBbHysIC_n label {
  width: calc(50% - 0.5em);
}

.ItZnsX3UFvJFX3trMUQJa {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.ItZnsX3UFvJFX3trMUQJa button {
  background-color: white;
  border: #aaa solid 1px;
  border-radius: 0;
  box-shadow: none;
  font-size: 0.9em;
  width: 4em;
}

.ItZnsX3UFvJFX3trMUQJa button + button {
  margin-left: -1px;
}

.ItZnsX3UFvJFX3trMUQJa button:focus {
  z-index: 1;
}

.ItZnsX3UFvJFX3trMUQJa button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.ItZnsX3UFvJFX3trMUQJa button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

._1FqvI8aZiV_01QibCH9Qsd {
  background-color: var(--primary);
  height: 3px;
  transition: width 150ms;
}

@media (prefers-reduced-motion: reduce) {
  ._1FqvI8aZiV_01QibCH9Qsd {
    transition: none;
  }
}

._1nkyEqMrVZoFNiRgjZZ-QS {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;
  width: 100%;
}

._2D-S5U44YVcbuhKH-2CEQP th {
  font-weight: inherit;
  padding: 8px;
  text-align: center;
  vertical-align: bottom;
}

._28THJe4R65qOkgoot1g61D,
._2P_pmVaJGVlg699X-I8ql {
  font-family: "Courier New", Courier, monospace;
}

._2P_pmVaJGVlg699X-I8ql {
  font-weight: bold;
}

._2EqzLnisSNLyGzDSG-AbNq td {
  border-top: 1px solid #e0e0e0;
  padding: 8px;
  text-align: right;
  vertical-align: top;
  width: 25%;
}

._28THJe4R65qOkgoot1g61D ._2EqzLnisSNLyGzDSG-AbNq:hover,
._28THJe4R65qOkgoot1g61D ._2EqzLnisSNLyGzDSG-AbNq:hover + tr {
  background-color: #eee;
}

._3R4weBDXtjaj8oyyVCoEDL td {
  padding: 0;
}

._2HDbunq2fKmSMielsSgZ8G {
  color: #ccc;
}

._28THJe4R65qOkgoot1g61D tr:first-child td,
._2P_pmVaJGVlg699X-I8ql tr:first-child td {
  border-top-width: 2px;
  border-top-color: #ccc;
}

._2ZKutxy3m1Zf4-SDMh8bsV {
  margin: 0 auto;
  padding: 60px 0 40px;
  width: 50%;
}

._2ZKutxy3m1Zf4-SDMh8bsV::before {
  background-color: var(--primary);
  content: " ";
  height: 8px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@media screen and (max-width: 1600px) {
  ._2ZKutxy3m1Zf4-SDMh8bsV {
    width: 60%;
  }
}

@media screen and (max-width: 1400px) {
  ._2ZKutxy3m1Zf4-SDMh8bsV {
    width: 70%;
  }
}

@media screen and (max-width: 1200px) {
  ._2ZKutxy3m1Zf4-SDMh8bsV {
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  ._2ZKutxy3m1Zf4-SDMh8bsV {
    width: 90%;
  }
}

._17lBmiHhHCRQOx0hABfS0U {
  font-weight: inherit;
  line-height: 1em;
  margin: 0 auto 0.5em;
  text-align: center;
}

._3yv9s8zNev6Q4zGgZrMyl {
  color: var(--primary);
  display: block;
  font-weight: bold;
  margin: 0.5em auto;
}

._1ff9d-OUsk_MAwFPIyJzb- {
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
  vertical-align: text-bottom;
}

._1ff9d-OUsk_MAwFPIyJzb- path,
._1ff9d-OUsk_MAwFPIyJzb- circle {
  fill: transparent;
  stroke: var(--primary);
}

:root {
  --primary: #649367;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4em;
  margin: 0;
}

