.app {
  border-top: solid 3px var(--primary-green);
}

.container {
  margin: 40px auto;
  width: 50%;
}

@media screen and (max-width: 1600px) {
  .container {
    width: 60%;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    width: 70%;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: 90%;
  }
}

.heading {
  font-weight: inherit;
  line-height: 1em;
  margin: 0 auto;
  text-align: center;
}

.about {
  color: var(--primary-green);
  display: block;
  font-weight: bold;
  margin: 0.5em auto;
}

.icon {
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
  vertical-align: text-bottom;
}

.icon path,
.icon circle {
  fill: transparent;
  stroke: var(--primary-green);
}
