.container {
  margin: 0 auto;
  padding: 60px 0 40px;
  width: 50%;
}

.container::before {
  background-color: var(--primary);
  content: " ";
  height: 8px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@media screen and (width <= 1600px) {
  .container {
    width: 60%;
  }
}

@media screen and (width <= 1400px) {
  .container {
    width: 70%;
  }
}

@media screen and (width <= 1200px) {
  .container {
    width: 80%;
  }
}

@media screen and (width <= 800px) {
  .container {
    width: 90%;
  }
}

.heading {
  font-weight: inherit;
  line-height: 1em;
  margin: 0 auto 0.5em;
  text-align: center;
}

.about {
  color: var(--primary);
  display: block;
  font-weight: bold;
  margin: 0.5em auto;
}

.icon {
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
  vertical-align: text-bottom;
}

.icon path,
.icon circle {
  fill: transparent;
  stroke: var(--primary);
}
