.selects {
  display: flex;
  justify-content: space-between;
}

.selects label {
  width: calc(50% - 0.5em);
}

.shortcuts {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.shortcuts button {
  background-color: white;
  border: #aaa solid 1px;
  border-radius: 0;
  box-shadow: none;
  font-size: 0.9em;
  width: 4em;
}

.shortcuts button + button {
  margin-left: -1px;
}

.shortcuts button:focus {
  z-index: 1;
}

.shortcuts button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.shortcuts button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
