body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4em;
  margin: 0;
}

.table {
  max-width: 100%;
  overflow-x: auto;
}

.table table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;
  width: 100%;
}

.table tbody,
.table tfoot {
  font-family: "Courier New", Courier, monospace;
}

.table th {
  font-weight: inherit;
  padding: 8px;
  text-align: center;
  vertical-align: bottom;
}

.table td {
  padding: 8px;
  text-align: right;
  vertical-align: top;
  width: 20%;
}

.table tr.bordered td {
  border-top: 1px solid #e0e0e0;
}

.table tbody tr.bordered:hover,
.table tbody tr.bordered:hover + tr {
  background-color: #eee;
}

.table tr.progress td {
  padding: 0;
}

.table tr.disabled {
  color: #ccc;
}

.table tbody tr:first-child td,
.table tfoot tr:first-child td {
  border-top-width: 2px;
  border-top-color: #ccc;
}

.table tfoot {
  font-weight: bold;
}
