.table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;
  width: 100%;
}

.header th {
  font-weight: inherit;
  padding: 8px;
  text-align: center;
  vertical-align: bottom;
}

.body,
.footer {
  font-family: "Courier New", Courier, monospace;
}

.footer {
  font-weight: bold;
}

.data td {
  border-top: 1px solid #e0e0e0;
  padding: 8px;
  text-align: right;
  vertical-align: top;
  width: 25%;
}

.body .data:hover {
  background-color: #eee;
}

.progress td {
  padding: 0;
}

.disabled {
  color: #ccc;
}

.body tr:first-child td,
.footer tr:first-child td {
  border-top-width: 2px;
  border-top-color: #ccc;
}
